body{
    padding-top: 60px;
    padding-left: 200px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #344955;
    padding: 0px 10px 0px 10px !important;
    z-index: 1000;
}
.navbar-collapse-btn
{
    display: none;
}
#name{
    display: inline-block;
    height: 100%;
    font-size: 30;
    color: white;
}
#btn-user{
    display: inline-block;
    float: right;
}
.navbar-collapse-btn{
    display: none;
    float: right;
    height: 100%;
    width: 50px;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
}
.navbar-collapse-btn a{
    color: white;
}
.dropdown-toggle{
    background-color: transparent;
    height: 100%;
    margin: 0;
}
.sidenav {
  height: calc(100% - 60px);
  width: 200px;
  position: fixed;
  z-index: 100;
  top: 60px;
  left: 0;
  background-color: #232f34;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Page content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}
.sidenav a {
  padding: 8px 32px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover{
    color: #f9aa33;
}
.bottom-bar{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    color: white;
    font-size: 24px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.setting{
    justify-self: right;
}
@media screen and (max-width: 700px) {
    body{
        padding-left: 0px;
    }
    .sidenav
    {
        display: none;
        position: absolute;
        padding: 0;
        top: 60px;
        max-width: 100vw;
        width: 100%;
        height: auto;
        z-index: 10000;
    }
    .sidenav a {
        text-align: center;
      float: none;
    }
    .navbar-collapse-btn
    {
        display:inline-block;
    }
    .setting{
        justify-self: center;
    }

}

@media screen and (max-width: 400px) {
    body{
        padding-left: 0px;
    }
    .sidenav
    {
        display: none;
        width: 100%;
    }
    .sidenav a {
      text-align: center;
    }
    .navbar-collapse-btn
    {
        display: inline-block;
    }
    .setting{
        justify-self: center;
    }
}