<header>
            
    <div id="name">AyurData</div>

    <div class="dropdown" id="btn-user">
      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        USER
      </button>
      <div class="dropdown-menu dropdown-menu-right m-0" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Account setting</a>
        <a class="dropdown-item" href="#">Log Out</a>
      </div>
    </div>

</header>
<aside class="sidenav">
    <a href="#">Home</a>
    <a href="#">Forums</a>
    <a href="#">Statistics</a>
    <a href="#">Order</a>
</aside> 